[project]
	description = Personal bash things!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alex (savoca)
[access "refs/for/refs/*"]
	read = group user/Alex (savoca)
	push = group user/Alex (savoca)
	label-Code-Review = -2..+2 group user/Alex (savoca)
	label-Verified = -1..+1 group user/Alex (savoca)
	rebase = group user/Alex (savoca)
	removeReviewer = group user/Alex (savoca)
	submit = group user/Alex (savoca)
[access "refs/heads/*"]
	read = group user/Alex (savoca)
	create = group user/Alex (savoca)
	push = +force group user/Alex (savoca)
	pushMerge = group user/Alex (savoca)
[access "refs/tags/*"]
	push = +force group user/Alex (savoca)
	pushTag = group user/Alex (savoca)
	pushSignedTag = group user/Alex (savoca)
