[Unit]
Description=Bootup Configuration

[Service]
Type=oneshot
ExecStart=/usr/bin/bootconfig.sh
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
